/* здесь используйте глобальные селекторы img, body, html и так далее */
/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $primary-font, sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
