@mixin font-face ($font-name, $font-style, $font-weight, $src, $src2) {
  @font-face {
    font-family: $font-name;
    font-style: $font-style;
    font-weight: $font-weight;
    src: $src, $src2;
    font-display: swap;
  }
}
