/* здесь используйте глобальные переменные */

/* здесь используйте глобальные переменные */

$bg-color-primary: #68b738;
$primary-text-color: #000000;
$secodary-text-color: #444444;


/* viewport */

$tablet-width:708px;
$desktop-width:1220px;
