.additional-form {
  position: relative;

  &::before {
    content: "";
    width: calc(100% - 20px);
    position: absolute;
    left: 20px;
    background-color: $bg-color-primary;
    top: 17px;
    height: 2px;

    @media (min-width: $tablet-width) {
      width: 100%;
      left: 0;
      top: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -50vw;
      margin-right: -50vw;
      left: 50%;
      right: 50%;
      width: 100vw;
    }
  }
}

.additional-form__wrapper {
  padding: 63px 20px 32px;

  @media (min-width: $tablet-width) {
    padding: 93px 165px 60px 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 95px 205px 79px 110px;
  }
}

.additional-form__list {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: $secodary-text-color;
  margin-bottom: 34px;
  list-style-type: none;


  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-size: 20px;
    gap: 20px 77px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 25%);
    gap: 30px 44px;
    margin-bottom: 60px;
  }
}

.additional-form__item {
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-form__label {
  display: flex;
  align-items: center;
}

.additional-form__title {
  position: absolute;
  z-index: 2;
  width: 161px;
  background-color: #ffffff;
  top: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    width: 292px;
    text-align: center;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    left: 70px;
  }
}

.additional-form__container {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
  }
}

.additional-form__required {
  display: block;
  text-align: center;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    margin-left: 58px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 78px;
    font-size: 16px;
  }
}

.additional-form__button {
  width: 100%;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 284px;
    margin-bottom: 0;
    padding: 14px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.additional-form__label input:checked + .custom-checkbox .custom-checkbox__checkmark {
  display: block;
}
