.additional-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: $tablet-width) {
    gap: 0;
  }

  &__item {
    position: relative;
    border-top: 1px solid #cdcdcd;
    padding-top: 8px;

    &:last-child {
      border-bottom: 1px solid #cdcdcd;
      padding-bottom: 12px;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      padding: 26px 38px 28px;
      border: 1px solid #cdcdcd;

      &:nth-child(n+2) {
        border-top: none;
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      padding: 15px 1px;
      border: 1px solid #cdcdcd;

      &:nth-child(n) {
        border-right: none;
        border-left: none;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      margin-left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 285px;
      margin-left: auto;
      align-items: center;
    }
  }

  &__title {
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
    margin-bottom: 13px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__netto {
    margin-bottom: 14px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;

      &:nth-child(2) {
        margin-left: 51px;
      }
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      line-height: 20px;

      &:nth-child(2) {
        margin-left: 0;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-top: 25px;
    }

    @media (min-width: $desktop-width) {
      width: 244px;
      margin-left: 40px;
      margin-top: 0;
    }
  }
}
