.additional {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    border: 1px solid $bg-color-primary;
    width: 100%;
    top: 34px;

    @media (min-width: $tablet-width) {
      top: 87px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -50vw;
      margin-right: -50vw;
      left: 50%;
      right: 50%;
      width: 100vw;
    }
  }

  .additional__wrapper {
    padding: 87px 20px 40px;

    @media (min-width: $tablet-width) {
      padding: 186px 30px 80px;
    }

    @media (min-width: $desktop-width) {
      padding: 191px 110px 96px;
    }
  }

  .additional__container {
    @media (min-width: $desktop-width) {
      display: flex;
    }
  }

  .additional__block {
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 80px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 0;
      width: 896px;
    }
  }

  .additional__gift {
    position: relative;
    padding: 186px 61px 43px 58px;
    background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%), url("../../images/gift-bg-mobile@1x.webp");
    background-repeat: no-repeat;
    background-size: 100%, 280px 290px;
    background-position: 0 0, 50% 0;

    @media (min-resolution: 2dppx) {
      background: linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%), url("../../images/gift-bg-mobile@2x.webp");
      background-repeat: no-repeat;
      background-size: cover;
    }

    @media (min-width: $tablet-width) {
      padding: 71px 125px 69px 0;
      background:
        linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%),
        image-set(
          url("../../images/gift-bg-tablet@1x.webp") 1x,
          url("../../images/gift-bg-tablet@2x.webp") 2x
        );
      background-repeat: no-repeat;
      margin-left: 0;
    }

    @media (min-width: $desktop-width) {
      padding: 185px 20px 20px;
      background:
        linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%),
        image-set(
          url("../../images/gift-bg-desktop@1x.webp") 1x,
          url("../../images/gift-bg-desktop@2x.webp") 2x
        );
      background-repeat: no-repeat;
      width: 245px;
      margin-left: 80px;
    }
  }

  .additional__gift::after {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icongift");
    width: 78px;
    height: 80px;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 82px;
      left: 119px;
    }

    @media (min-width: $desktop-width) {
      width: 80px;
      height: 82px;
      left: 50%;
      transform: translateX(-50%);
      top: 56px;
    }
  }

  .additional__gift-description {
    text-align: center;
    font-family: $secondary-font, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    @media (min-width: $tablet-width) {
      display: flex;
      text-align: left;
      justify-content: end;
    }

    @media (min-width: $desktop-width) {
      display: block;
      text-align: center;
    }
  }

  .additional__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    position: absolute;
    z-index: 3;
    width: 290px;
    top: 24px;
    left: -12px;
    background-color: #ffffff;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 32px;
      line-height: 32px;
      width: 374px;
      left: 33px;
      top: 73px;
    }

    @media (min-width: $desktop-width) {
      font-size: 40px;
      line-height: 40px;
      width: 455px;
      left: 69px;
    }
  }
}
