.additional-form {
  position: relative;

  &::before {
    content: "";
    width: calc(100% - 20px);
    position: absolute;
    left: 20px;
    background-color: $bg-color-primary;
    top: 17px;
    height: 2px;

    @media (min-width: $tablet-width) {
      width: 100%;
      left: 0;
      top: 22px;
    }

    @media (min-width: $desktop-width) {
      margin-left: -50vw;
      margin-right: -50vw;
      left: 50%;
      right: 50%;
      width: 100vw;
    }
  }

  .additional-form__wrapper {
    padding: 63px 20px 32px;

    @media (min-width: $tablet-width) {
      padding: 93px 165px 60px 70px;
    }

    @media (min-width: $desktop-width) {
      padding: 95px 205px 79px 110px;
    }
  }

  .additional-form__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    color: $secodary-text-color;
    margin-bottom: 34px;
    gap: 13px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: normal;
      gap: 0;
      row-gap: 34px;
      flex-flow: row wrap;
      margin-bottom: 50px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 57px;
    }
  }

  .additional-form__item {
    @media (min-width: $tablet-width) {
      flex-basis: 50%;
    }

    @media (min-width: $desktop-width) {
      flex-basis: 25%;
    }

    @media (min-width: $tablet-width) {
      &:nth-child(2) {
        margin-left: auto;

        @media (min-width: $desktop-width) {
          margin-left: auto;
        }
      }

      &:nth-child(3) {
        margin-left: auto;

        @media (min-width: $tablet-width) {
          margin-left: 0;
        }

        @media (min-width: $desktop-width) {
          margin-left: auto;
        }
      }

      &:nth-child(4) {
        margin-left: auto;

        @media (min-width: $desktop-width) {
          margin-left: auto;
        }
      }
    }
  }

  .additional-form__label {
    display: flex;
    align-items: center;
  }

  .additional-form__title {
    position: absolute;
    z-index: 2;
    width: 161px;
    background-color: #ffffff;
    top: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;

    @media (min-width: $tablet-width) {
      font-size: 36px;
      line-height: 36px;
      width: 292px;
      text-align: center;
      left: 30px;
    }

    @media (min-width: $desktop-width) {
      left: 70px;
    }
  }

  .additional-form__container {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
    }
  }

  .additional-form__required {
    display: block;
    text-align: center;
    font-family: $secondary-font, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;

    @media (min-width: $tablet-width) {
      margin-left: 58px;
      font-size: 16px;
    }

    @media (min-width: $desktop-width) {
      margin-left: 78px;
      font-size: 16px;
    }
  }

  .additional-form__button {
    width: 100%;
    margin-bottom: 21px;

    @media (min-width: $tablet-width) {
      width: 284px;
      margin-bottom: 0;
      padding: 14px 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 26px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
    }
  }
}

.additional-form__label input:checked + .custom-checkbox .custom-checkbox__checkmark {
  display: block;
}
