.adress {
  background-color: #ffffff;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
    position: static;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    width: 565px;
    padding: 60px 78px;
    top: 50%;
    transform: translateY(-50%);
    left: 110px;
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    width: 140px;

    @media (min-width: $tablet-width) {
      width: 163px;
      font-size: 20px;
      line-height: 26px;
    }
  }

  &__description {
    font-family: $secondary-font;
    color: $secodary-text-color;
    line-height: 20px;
    width: 140px;

    @media (min-width: $tablet-width) {
      width: 157px;
      text-align: right;
    }
  }

  &--gray {
    background-color: #f2f2f2;

    @media (min-width: $tablet-width) {
      background-color: #f2f2f2;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }
}
