.catalog-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    flex-flow: row wrap;
    gap: 140px 60px;
  }

  @media (min-width: $desktop-width) {
    gap: 140px 80px;
  }

  &__item {
    display: grid;
    grid-template-columns: 140px 140px;
    padding: 21px 20px 25px;
    border-top: 1px solid #d9d9d9;

    @media (min-width: $tablet-width) {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 324px;
      background-color: #f2f2f2;
      border-top: none;
      padding: 160px 37px 40px;
    }

    @media (min-width: $desktop-width) {
      width: 245px;
      padding: 154px 37px 40px;
    }

    &--more {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 55px 20px 25px;
      border-bottom: 1px solid #d9d9d9;

      /* stylelint-disable */

      @media (min-width: $tablet-width) {
        background-color: #ffffff;
        border-bottom: none;
        padding: 160px 37px 0;
        border: 2px solid #f2f2f2;
      }

      @media (min-width: $desktop-width) {
        padding: 154px 37px 0;
      }


      &::after {
        content: "";
        background-image: url("../../icons/stack.svg#plus");
        position: absolute;
        width: 30px;
        height: 30px;
        top: 25px;
        left: 50%;
        transform: translateX(-50%);

        @media (min-width: $tablet-width) {
          width: 60px;
          height: 60px;
          top: 50px;
        }
      }

      /* stylelint-enable */
    }

    picture {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;

    @media (min-width: $tablet-width) {
      padding-bottom: 2px;
      margin-bottom: 10px;
      border-bottom: 2px solid #ebebeb;
    }

    &--more {
      display: block;

      /* stylelint-disable */
      @media (min-width: $tablet-width) {
        display: block;
        margin-bottom: 82px;
        border-bottom: none;
      }

      @media (min-width: $desktop-width) {
        margin-bottom: 90px;
      }
    }
  }


  &__title {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    width: 76px;

    @media (min-width: $tablet-width) {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
      width: 135px;
    }

    &--more {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 8px;
      margin-top: 23px;
      width: 203px;

      @media (min-width: $tablet-width) {
        display: block;
        width: 134px;
        margin: 0 auto;
        margin-top: 0;
        margin-bottom: 23px;
      }
    }
  }

  &__description {
    text-align: center;
    display: block;

    @media (min-width: $tablet-width) {
      display: block;
      width: 174px;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      display: block;
      width: 170px;
      margin: 0 auto;
    }
  }

  &__button {
    padding: 10px 0;
    grid-column: -1/ -3;
    margin-top: 13px;

    @media (min-width: $tablet-width) {
      margin-top: 27px;
    }

    @media (min-width: $desktop-width) {
      margin-top: 34px;
    }

    &--more {
      width: 100%;
      padding: 10px 0;
      margin-top: 18px;
      color: $secodary-text-color;
      background-color: #f2f2f2;

      &:hover {
        background-color: #cdcdcd;
      }

      &:active {
        background-color: #cdcdcd;
      }

      @media (min-width: $tablet-width) {
        margin-top: 0;
      }
    }
  }

  &__img {
    @media (min-width: $tablet-width) {
      position: absolute;
      top: -50px;
    }

    &--1000 {
      @media (min-width: $tablet-width) {
        top: -69px;
      }

      @media (min-width: $desktop-width) {
        top: -62px;
      }
    }
  }
}
