.site-list {
  display: flex;
  flex-flow: column wrap;
  font-size: 20px;
  text-transform: uppercase;
  list-style-type: none;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    gap: 33px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e6e6e6;

    @media (min-width: $tablet-width) {
      border: none;
    }
  }

  &__link {
    position: relative;
    display: inline-block;
    padding: 22px 0 24px;
    text-decoration: none;
    color: #000000;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    @media (min-width: $tablet-width) {
      color: #000000;
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      color: #ffffff;
      font-size: 20px;
      line-height: normal;
      padding: 0;
    }

    &--current::before {
      content: "";
      width: 100%;
      position: absolute;
      display: none;
      height: 2px;
      background-color: $bg-color-primary;
      bottom: -6px;

      /* stylelint-disable */

      @media (min-width: $tablet-width) {
        display: block;
        bottom: -9px;
      }

      @media (min-width: $desktop-width) {
        background-color: #ffffff;
      }

      /* stylelint-enable */
    }

    &--catalog {

      /* stylelint-disable */
      @media (min-width: ($desktop-width)) {
        color: #000000;
      }
      /* stylelint-enable */
    }
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }
}
